<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tharani.icon_changer">
    <!--The mipmap folders are for placing app/launcher icons
     here iam changing the launcher icon for Universe app-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UNIVERSE"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter><!--Specifies the types of intents that an activity, service, or broadcast receiver can respond to.
             An intent filter declares the capabilities of its parent component-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>